//@import "common";
@import "grid_edit";
@import "headsup";
@import "models";
@import "pools";
@import "search";


body {
  color: #333;
  margin-top: 50px;
  padding-left: 15px;  /* This is fixing content so it doesn't wander off the left side of page or behind the navbar */
}

.remove {
  color: rgb(117, 36, 36);
}

.association audio {
  width: 225px;
}

.association .actions .download {
  float: right;
  margin-right: 20px;
}

