// Place all the styles related to the mapping_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

li.spacer {
  border-bottom: 1px solid gray;
  padding: 5px;
}


select.xsmall {
  width: 50px;
}

#data {
  @include zebra_stripe();
  
}
