<div class="sidebar">
  <h1>{{context.pool.name}}</h1>
  <div class="facet-limit">
    <h5>Query String</h5>
    <input class="form-control" ng-model="searchService.queryString"></input>
  </div>
  <div class="facet-limit">
      <h5>Sorting by</h5>
      <ul class="sort-fields">
        <li ng-repeat="sort in searchService.sorting">
            {{sort.field.id}} : <span ng-click="searchService.toggleSortDirection(sort)">{{sort.direction}}</span> <a class="remove" ng-click="searchService.removeSortField(sort.field.id)">X</a>
        </li>
      </ul>
  </div>
  <h3>Filters</h3>
  <div class="facet-limit" ng-repeat="facetName in facetsToDisplay()">
    <h5>{{facetName}}</h5>
    <ul class="facet-values list-unstyled">
      <li ng-repeat="facetValue in searchService.facetValuesFor(facetName)"><span class="facet-label">
        <a class="facet_select" ng-click="searchService.addFacetFilter(facetName, facetValue.value)">{{facetValue.value}}</a></span>
        <span class="facet-count badge">{{facetValue.count}}</span>
        <a class="remove" ng-show="searchService.isConstrainingBy(facetName, facetValue.value)" ng-click="searchService.removeFacetFilter(facetName, facetValue.value)">X</a>
      </li>
    </ul>


  </div>
  </div>
</div>