.header.row
  .span3
    %h1 Edit pool

.row
  .span3
    %ul.nav.nav-pills.nav-stacked
      %li{"ng-repeat"=>"navOption in navigationOptions", "ng-class"=>"{active: navOption == currentNav}"}
        %a{"ng-click"=>"selectNavOption(navOption)"} {{navOption.name}}

  .span10
    %form.poolInfoForm{name:"poolInfoForm", "ng-show"=>'currentNav.id == "pool_info" || currentNav.id == "contributors" '}
      -# Pool Info
      .panel.panel-default.pool-info{"ng-show"=>'currentNav.id == "pool_info"'}
        .panel-heading
          %h3.panel-title Pool Info
        .panel-body
          %button.btn.btn-primary.pull-right{type:"submit", "ng-click"=>"updatePool(pool); poolInfoForm.$setPristine()"} Apply Changes
          .form-group
            %label Name
            %input{"ng-model"=>"pool.name"}
          .form-group
            %label Short Name
            %input{"ng-model"=>"pool.short_name"}
            %span.help-block No spaces or special characters
          .form-group
            %label Description
            %textarea.form-control{size:"30", "ng-model"=>"pool.description"}
      -# Contributors
      .panel.panel-default.contributors{"ng-show"=>'currentNav.id == "contributors"'}
        .panel-heading
          %h3.panel-title Contributors
        .panel-body
          %button.btn.btn-primary.pull-right{type:"submit", "ng-click"=>"updatePool(pool); poolInfoForm.$setPristine()"} Apply Changes
          %table.permissions
            %tr
              %th User
              %th Access
            %tr{"ng-repeat"=>"ac in pool.access_controls"}
              %td.contributor
                %input{"bindery-token-input"=>"contributorTokeninputOptions","data-url"=>'"/identities"', "ng-model"=>"ac.identity"}
              %td.access
                %select{"ng-model"=>"ac.access"}
                  %option{value:"EDIT"} Read and Write All Content
                  %option{value:"READ"} Read-only access to All Content
              %td
                %a.remove{"ng-click"=>"removeContributor(ac)"} &times;
          .actions
            %a.add{"ng-click"=>"addContributor()"} add another contributor
        .panel-body
          %h3.panel-title Owner
          %span{"ng-show"=>"context.poolOwner.name"} {{context.poolOwner.name}}  ({{context.poolOwner.short_name}})
          %span{"ng-hide"=>"context.poolOwner.name"} {{context.poolOwner.short_name}}

    -# Audiences
    .audiences{"ng-show"=>'currentNav.id == "audiences"', "ng-controller"=>"PoolAudienceEditorCtrl"}
      -#.panel.panel-primary
      -#  .panel-heading
      -#    %h3.panel-title Audiences
      %ul.nav.nav-tabs.nav-pills
        %li{"ng-class"=>'{active: selectedCategory == "everyone"}'}
          %a{"ng-click"=>'selectCategory("everyone")'} Everyone (all visitors)
        %li{"ng-repeat"=>"category in audienceCategories", "ng-class"=>"{active: category == selectedCategory}"}
          %a{"ng-click"=>"selectCategory(category)"} {{category.name}}
      .panel-body
        .actions{style:"height:1.5em;"}
          %a.pull-right{"ng-click"=>"newCategory()"} add a new audience category
      -# Audiences:: General Audience Category Editor
      .tab-content{"ng-hide"=>'selectedCategory == "everyone"'}
        .panel.panel-default
          .panel-body
            %ng-form.audienceCategoryForm{name:'audienceCategoryForm'}
              %button.btn.btn-primary.pull-right{type:"submit", "ng-hide"=>"selectedCategory.id", "ng-click"=>"selectedCategory.$save()"} Create this Category
              %button.btn.btn-primary.pull-right{type:"submit", "ng-show"=>"selectedCategory.id && audienceCategoryForm.$dirty", "ng-click"=>"selectedCategory.$update()"} Save Changes to this Category
              Category Name
              %input{"ng-model"=>"selectedCategory.name"}
              .actions{"ng-show"=>"selectedCategory.audiences.length == 0"}
                %a{"ng-click"=>"addAudienceToCategory(selectedCategory)"} add an audience to this category
              -#.actions{"ng-show"=>"selectedCategory.audiences.length > 0"}
              -#  .form-group
              -#    %input{type:"checkbox", "ng-model"=>"selectedCategory.order_relevant"} The order of Audience memberships is relevant - permissions are cumulative
        .actions{"ng-show"=>"selectedCategory.audiences.length > 0"}
          %a{"ng-click"=>"addAudienceToCategory(selectedCategory)"} add another audience

        .panel.panel-default.audience{"ng-repeat"=>"audience in selectedCategory.audiences"}
          .panel-heading
            %h3.panel-title {{audience.name}}
          .panel-body
            %form.audienceForm{name:"audienceForm", "ng-show"=>'selectedCategory.id'}
              %button.btn.btn-primary.pull-right{type:"submit", "ng-hide"=>"audience.id", "ng-click"=>"audience.$save()"} Create this Audience
              %button.btn.btn-primary.pull-right{type:"submit", "ng-show"=>'audience.id && audienceForm.$dirty', "ng-click"=>"audience.$update()"} Save Changes to this Audience
              .form-group
                %label Audience Name:
                %input{"ng-model"=>"audience.name"}
              .filters{"ng-show"=>"audience.id"}
                %h4 Filters
                %a{"ng-click"=>"audience.addFilter()", "ng-show"=>"audience.filters.length == 0"} create a filter
                %a{"ng-click"=>"audience.addFilter()", "ng-show"=>"audience.filters.length > 0"} add another filter
                .form-group.filter{"ng-repeat"=>"filter in audience.filters"}
                  %select.filter_type{name:"exhibit[filters_attributes][][filter_type]", "ng-model"=>"filter.filter_type"}
                    %option{value:"GRANT"} Allow items where
                    %option{value:"RESTRICT"} Restrict to items where
                  %select{"ng-model"=>"filter.field_name", "ng-options"=>"field.code as field.name for field in pool.fields()"}
                  %span.operator{"ng-hide"=>'filter.filter_type=="RESTRICT"'} is
                  %select.operator{name:"exhibit[filters_attributes][][operator]", "ng-model"=>"filter.operator", "ng-show"=>'filter.filter_type=="RESTRICT"'}
                    %option{value:"+"} is
                    %option{value:"-"} is not
                  %input.filterValues{"bindery-token-input"=>"filterValuesTokeninputOptions","data-url"=>'context.poolUrl+"/fields/"+filter.field_name', "name"=>"filter[values]", "ng-model"=>"filter.values", "id"=>"filter_{{filter.id}}"}
                  %a.remove{"ng-click"=>"audience.removeFilter(filter)"} &times;
              .members{"ng-show"=>"audience.id"}
                %h4 Members:
                %input{"bindery-token-input"=>"audienceMemberTokeninputOptions","data-url"=>'"/identities"', "ng-model"=>"audience.member_ids"}
        .actions{"ng-show"=>"selectedCategory.audiences.length > 0"}
          %a{"ng-click"=>"addAudienceToCategory(selectedCategory)"} add another audience

      -# Audiences::Everyone
      .tab-content.panel.panel-default.audience{"ng-show"=>'selectedCategory == "everyone"'}
        .panel-heading
          %h3.panel-title Everyone (all visitors)
        .panel-body
          %p
            %b This pool is only visible to people who are members of its audiences.
            In order to visit this pool and see its content, you must be logged in as someone who is listed in at least one of the audiences.  If you are not logged in, or if you are logged in as someone who is not an audience member, you will be redirected to the DataBindery home page.
          %p
            %b If you are logged in as an audience member for this pool,
            then your search results will be filtered based on the filters specified by the audiences you are a member of.
          %p
            %b Note:
            If you are listed as a contributor for this pool, you will see everything in the pool.  Audiences are specifically for filtering what is visible to people who are not contributors.
          %p
            %b To create audiences:
            %ul
              %li
                Click
                %a{"ng-click"=>"newCategory()"} add a new audience category
              %li Name the category and click "Create this category"
              %li Add any number of audiences to the category
              %li Specify the filters that each audience should apply
              %li Add members to the audience
          -#.form-group
          -#  .radio
          -#    %input{type:"radio", name:"pool_default_visibility", "ng-model"=>"selectedCategory.default_visibility", value: "hidden"} hide this pool from people who are not in its audiences
          -#  .radio
          -#    %input{type:"radio", name:"pool_default_visibility", "ng-model"=>"selectedCategory.default_visibility", value:"landing_page"} allow all visitors to see the landing page
          -#  .radio
          -#    %input{type:"radio", name:"pool_default_visibility", "ng-model"=>"selectedCategory.default_visibility", value:"open_access"} allow full access to everyone


    -# Sources
    .panel.panel-default.sources{"ng-show"=>'currentNav.id == "sources"'}
      .panel-heading
        %h3.panel-title Sources
      .panel-body
        .source.external
          %h4 Bindery Storage
      .panel-footer
    -# Indexing
    .panel.panel-default.indexing{"ng-show"=>'currentNav.id == "indexing"'}
      .panel-heading
        %h3.panel-title Indexing
      .panel-body
        .form-actions
          %button.btn.btn-primary{type:"submit", name:"update_index"} Rebuild Solr Index
          Warning: Rebuilding the index can take a long time.
    -#.panel-footer
      .form-actions
        -#%button.btn.btn-primary{type:"submit", "ng-click"=>"updatePool(pool)"} Apply Changes

