<div class='panel panel-default model'>
  <div class='panelHeader panel-header'>
    <div class="actions pull-right">
      <button class='btn btn-default pull-right' ng-click='model.update()' type='button'>Save Model</button>
      <span class='savedIndicator clearfix' ng-switch on='model.dirty'>
        <span class='message' ng-switch-when='true'>You have unsaved changes</span>
        <span class='message' ng-switch-when='false'>Saved at: {{model.lastUpdated}}</span>
      </span>
    </div>
  </div>

  <form class='model-editor panel-body'>
    <div class="row">
      <div class="form-group">
        <label for="model-name">Model Name:</div> 
        <input class="form-control" id="model-name" ng-model='model.name'>
      </div>
      <div class="form-group">
        <label for="title_field">Title Field:</div> 
        <select class="form-control" id="title_field" ng-model='model.label_field_id' ng-options='fieldConfig.id.toString() as fieldConfig.name for fieldConfig in model.fields'></select>
      </div>
    </div>
    <a ng-click='model.addField()'>Add Field</a>
    <a ng-click='model.addAssociation()'>Add Association</a>
    <table>
      <thead>
        <tr>
          <th class="rearrange"></th><th>Label</th><th>Type</th><th>Code</th><th>References</th><th>Multivalue?</th>
        </tr>
      </thead>
      <tbody ui-sortable ng-model="model.fields">
        <tr class="fieldConfig" ng-repeat='fieldConfig in model.fields'>
          <td><span class="show-on-hover glyphicon glyphicon-sort"></span>
          <td><input class="form-control" id="{{'modelField_'+fieldConfig.code+'_name'}}" ng-model='fieldConfig.name'></td>
          <td><select class="form-control" ng-model='fieldConfig.type' ng-options='item.id as item.label for item in typeOptionsFor(fieldConfig.type)'></select></td>
          <td><input class="form-control" id="{{'modelField_'+fieldConfig.code+'_code'}}" ng-model='fieldConfig.code'></td>
          <td ng-if="fieldConfig.type == 'OrderedListAssociation'">
            <select class="form-control" ng-model='fieldConfig.references' ng-options='model.id as model.name for model in pool.models()'></select>
          </td>
          <td ng-if="fieldConfig.type != 'OrderedListAssociation'">
            N/A
          </td>
          <td>
            <input class="checkbox" ng-model='fieldConfig.multivalue' type='checkbox'>
          </td>
          <td><a class="show-on-hover remove" ng-click="model.fields.splice(model.fields.indexOf(fieldConfig),1)">remove</a></td>          
        </tr>
      </tbody>
    </table>
  </form>
</div>