<div id="login">
  <div class="col-xs-4">
    <form ng-submit="login()">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="email" ng-model="credentials.email" required/>
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="password" ng-model="credentials.password" required/>
      </div>

      <button id="log-in" type="submit" class="btn btn-default">Log In</button>
    </form>
  </div>
</div>
